# build files
*.zip
libraries

# python lambda layers
layers/python_libraries/python
layers/binaries/bin/*
layers/binaries/lib/*

lambda/qcFigures/shared

.terraform

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# VSCode
.vscode/